<?xml version="1.0"?>

<config>
    <modules>
        <fcb_CurrencyConverter>
            <version>1.0.1</version>
        </fcb_CurrencyConverter>
    </modules>
	<global>
		<currency>
            <import>
                <services>
                    <fcb_jr>
                        <name>JsonRates</name>
                        <model>fcb_CurrencyConverter_Model_JsonRates</model>
                    </fcb_jr>
                </services>
            </import>
        </currency>
		<models>
            <fcb_currencyconverter>
                <class>fcb_CurrencyConverter_Model</class>
            </fcb_currencyconverter>
        </models>
	</global>
</config>
